.root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkApp {
    background-color: #282d35;
    color: white;
}

.lightApp {
    background-color: white;
    color: #2B283A
}

.app {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
}

